@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1f1f3d;
    font-family: 'Kdam Thmor PRO', sans-serif;
}

h1 {
    font-family: 'Kdam Thmor PRO', sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

h6 {
    color: grey;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f2d;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
}

label {
    display: block;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fff;
}

input {
    display: block;
    width: 90%;
    height: 60%;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
    background-color: #fff;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    margin-top: 5px;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
    font-family: 'Kdam Thmor PRO', sans-serif;
}

li:hover {
    color: #D21617;
}

footer {
    height: 50px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    width: 50%;
    height: 60px;
    background-color: #D21617;
    color: #fff;   
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border: none;
    outline: none;   
    margin: auto;
}

.button:hover {
    background-color: #fff;
    color: #000;
}